.mail-field {
	display: inline-flex;
	padding: 15px 172px 15px 20px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 30px;
	border: 1px solid rgba(1, 1, 1, 0.3);
	color: rgba(1, 1, 1, 0.5);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
}

.checkout-btn {
	display: inline-flex;
	padding: 15px 65px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 30px;
	background: #6d8434;
}

.totalCost {
	display: flex;
	width: 590px;
	height: 60px;
	flex-shrink: 0;
	border-radius: 8px;
	background: rgba(109, 132, 52, 0.05);
}

.total {
	margin: 22px 519px 14px 28px;
	color: #010101;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 120% */
}

.sum {
	color: rgba(1, 1, 1, 0.2);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px; /* 116.667% */
}

.amount {
	color: #010101;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px; /* 100% */
}
