.delete-all-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 88px;
	height: 24px;
	border: none;
	background-color: transparent;
	width: 56px;
	height: 18px;
    white-space: nowrap;
}

.text-btn {
	color: #010101;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 128.571%;
}
