<footer>
  <div class='container'>




    <div class="footer-div">

      <div class="column-1">
<div class="footer-logo">
        <div class="footer-logo-svg">
          <a href="" target="_blank" class="footer-logo-svg-link link">
          <svg class="footer-logotype" width="32" height="32">
            <use href="./src/icons.svg#icon-logo-icon-desk-tablet"></use>
          </svg>
      </a>
      <a href="./index.html" class="footer-link link"><span class="link-span">Food Boutique</span></a>
        </div>
        
        <div class="footer-social">
          <ul class="footer-list">
            <li class="footer-item">
              <a href="https://www.facebook.com/goITclub/" target="_blank" class="footer-item-link">
              <svg class="footer-item-svg"  width="44" height="44">
                <use href="./icons.svg#icon-facebook"></use>
              </svg>
          </a>
            </li>
            <li class="footer-item">
              <a href="https://www.instagram.com/goitclub/" target="_blank" class="footer-item-link">
              <svg class="footer-item-svg" width="44" height="44">
                  <use href="./src/icons.svg#icon-instagram"></use>
              </svg>
          </a>
            </li>
            <li class="footer-item">
              <a href="https://www.youtube.com/c/GoIT" target="_blank" class="footer-item-link">
              <svg class="footer-item-svg" width="44" height="44">
                  <use href="./src/icons.svg#icon-youtube"></use>
              </svg>
          </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
      
    <div class="column-2">
<div class="footer-menu">
        <h2>Discover the Variety of<br />Flavors and Quality</h2>
        <p class="footer-text">
          An online store where you will find fresh, natural and<br />delicious products for a healthy life and unforgettable<br />gastronomic adventures.
      </p>
      </div>
    </div>
      
<div class="column-3">
<div class="footer-box-form">
        <p class="input-footer-title">Subscribe and learn about new products!</p>
            <form class="footer-form">
                <label class="footer-label">
                        <input type="email" placeholder="Email" class="footer-input" name="footer-email" /></label>
                    <button type="submit" class="footer-btn">
                          Send
                    </button>
                </form>
            </div>

</div>

<div class="agreement">
<p class="footer-agreement-1">Food Boutique. All rights reserved.</p>
<p class="footer-agreement-2">Privacy Policy / Terms of Service</p>
</div>

    </div>


    <div id="myModal1" class="modal modal-1">
      <div class="modal-content">
        <img srcset="./images/1regX1.jpg, ./images/1regX2.jpg," src="./images/1reg.jpg" alt="1_registration" width="490" height="400" />
      </div>
    </div>
    
    <div id="myModal2" class="modal modal-2">
      <div class="modal-content">
        <img srcset="./images/2regX1.jpg, ./images/2regX2.jpg," src="./images/2reg.jpg" alt="2_registration" width="469" height="308" />
      </div>
    </div>




  </div>
</footer>