<footer>
  <div class='container'>


    <div class="footer-div">

      <div class="column-1">
<div class="footer-logo">
        <div class="footer-logo-svg">
          <a href="" target="_blank" class="footer-logo-svg-link link">
          <svg class="footer-logotype" width="32" height="32">
            <use href="./icons.svg#icon-logoo"></use>
          </svg>
      </a>
      <a href="./index.html" class="footer-link link"><span class="link-span">Food Boutique</span></a>
        </div>
        
        <div class="footer-social">
          <ul class="footer-list">
            <li class="footer-item">
              <a href="https://www.facebook.com/goITclub/" target="_blank" class="footer-item-link">
              <svg class="footer-item-svg"  width="44" height="44">
                <use href="./icons.svg#icon-facebookk"></use>
              </svg>
          </a>
            </li>
            <li class="footer-item">
              <a href="https://www.instagram.com/goitclub/" target="_blank" class="footer-item-link">
              <svg class="footer-item-svg" width="44" height="44">
                  <use href="./icons.svg#icon-instagramm"></use>
              </svg>
          </a>
            </li>
            <li class="footer-item">
              <a href="https://www.youtube.com/c/GoIT" target="_blank" class="footer-item-link">
              <svg class="footer-item-svg" width="44" height="44">
                  <use href="./icons.svg#icon-youtubee"></use>
              </svg>
          </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
      
    <div class="column-2">
<div class="footer-menu">
        <h2>Discover the Variety of<br />Flavors and Quality</h2>
        <p class="footer-text">
          An online store where you will find fresh, natural and<br />delicious products for a healthy life and unforgettable<br />gastronomic adventures.
      </p>
      </div>
    </div>
      
<div class="column-3">
<div class="footer-box-form">
        <p class="input-footer-title">Subscribe and learn about new products!</p>
            <form class="footer-form">
                <label class="footer-label">
                        <input type="email" placeholder="Email" class="footer-input" name="footer-email" /></label>
                    <button type="submit" class="footer-btn">
                          Send
                    </button>
                </form>
            </div>


</div>

<div class="agreement">
<p class="footer-agreement-1">Food Boutique. All rights reserved.</p>
<p class="footer-agreement-2">Privacy Policy / Terms of Service</p>
</div>

    </div>
  </div>


  <div class="backdrop is-hidden-1" data-modal>
    <button type="button" class="modal-button modal-button-1" data-modal-close>
        <svg class="modal-button-svg" width="20" height="20">
            <use href="./icons.svg#icon-Vector"></use>
        </svg>
    </button>
    <h2>Thanks for subscribing for new products</h2>
    <p>We promise you organic and high-quality products that will meet your expectations. Please stay with us and we promise you many pleasant surprises.</p>
    <img id="modal1Image" src="/src/gallery/veg.jpg" alt="1_registration" width="490" height="400" />
</div>

<div class="backdrop is-hidden-2" data-modal>
    <button type="button" class="modal-button modal-button-2" data-modal-close>
        <svg class="modal-button-svg" width="20" height="20">
            <use href="./icons.svg#icon-Vector"></use>
        </svg>
    </button>
    <h2>This email address has already been entered</h2>
    <p>You have already subscribed to our new products. Watch for offers at the mailing address.</p>
</div>





</footer>