svgcart {
	padding: 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

h2 {
    display: inline-flex;
   justify-content: center;
	color: #010101;
	font-family: Neue Montreal;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px; /* 100% */
	text-transform: uppercase;
}

.cart-content-wrap {
    display: flex;
}