svgcart {
	display: inline-flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 30px;
	background: #6d8434;
}

h2 {
	display: inline-flex;
	justify-content: center;
	color: #010101;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px; /* 100% */
	text-transform: uppercase;
}

.cart-content-wrap {
	display: block;
}

.title-cart-section {
	margin-bottom: 22px;
}