



  .header-container{
    min-width: 375px;
    padding: 20px;
  }
  .header-nav{
    display: flex;
        align-items: center;
  }
    .header-title{
        margin-left: 8px;
        color: #010101;
        
        font-family: 'fsp-demo-quincy-cf-black', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 900;
            line-height: 1.11;
           
            letter-spacing: 0.02em;
    }
        
   .header-list-icon{
    display: flex;
    align-items: center;
    
   }
   .header{
    min-width: 338px;
    padding-bottom: 72px;
    padding-top: 8px;
   }
 .home{
    
    color: #E8E8E2;
        font-family: "Neue Montreal";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.28;
       
      
 }
.link-home{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.header-btn{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border: none;
        display: block;
     width: 78px;
        height: 38px;
        background-color: #6D8434;
        border-radius: 50px;
        box-shadow: none;
        margin-right: 8px;
        cursor: pointer;
}

.header-bag-btn
{transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    display: block;
    width: 38px;
    height: 38px;
    background-color: #6D8434;
        border-radius: 50%;
        cursor: pointer;
}
.header-bag-btn:hover{
    background-color: #586F1F;
}

.cartlink{
    display: none;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .{
    border: 6px solid #6D8434;
} */






@media screen and (min-width: 768px){
    .cartlink{
        color: #010101;
        display: block;
            font-family: "Neue Montreal";
            font-size: 18px;
            font-weight: 500;
            line-height: 1.33;
            text-transform: uppercase;
          
    }


  .ll{
    margin-left: 14px;
  }
          .header-container {
              min-width: 768px;
              padding: 20px;
          }
          .header-btn{
            
            margin-left: 262px;
          }
    .header-svg{
width: 20px;
height: 20px;
    }
} 




@media screen and (min-width: 1440px) {

.header-list-icon{
    margin-left: -272px;
}
.header-title{
    margin-left: 8px;
}
.header-list-icon{
    width: 32px;
   
}
}









