<section class="main-content">
	<div class="main-content-nothing">
		<h2 class="main-content-nothing-title">Nothing was found for the selected <span>filters...</span></h2>
		<p class="main-content-nothing-text">Try adjusting your search parameters or browse our range by other
			criteria to
			find the perfect product for you.</p>
	</div>
	<div class=" card-container container">
		<span class="loader"></span>
		<ul class="product-list">

		</ul>

		<div class="pagination">
			<ul></ul>
		</div>
	</div>
</section>