<section class='filters-section'>
  <div class='container'>
    <p class="filters-name">Filters:</p>
    <form class="filters-form" id="filters-search-form">
      <div class="filters-search-box">
        <input type="text" name="searchQuery" autocomplete="off" class="filters-search-input"
          placeholder="Search for anything" />
        <button type="submit" class="filters-search-button">
          <svg class="filterts-icon-search">
            <use href="./icons.svg#"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</section>