<section class="filters-section">
	<div class="container filter-container">
		<p class="filters-name">Filters:</p>
		<div class="filters-wrapper">
			<form class="filters-form" id="filters-search-form">
				<div class="filters-search-box">
					<input
						type="text"
						name="searchQuery"
						autocomplete="off"
						class="filters-search-input"
						placeholder="Search for anything"
					/>
					<button type="submit" class="filters-search-button">
						<svg class="filterts-icon-search" width="20px" height="20px">
							<use href="./icons.svg#icon-icon-find"></use>
						</svg>
					</button>
				</div>
			</form>
			<select class="filterts-categories-select"></select>
		</div>
	</div>
</section>
