.filters-name {
	color: rgba(1, 1, 1, 0.3);

	font-family: Neue Montreal;
	font-size: 14px;
	line-height: 1.29em;
	margin-bottom: 8px;
}

.filters-search-input,
.filterts-categories-select {
	color: #010101;
	padding: 14px 20px;
	font-family: Neue Montreal;
	font-size: 14px;
	width: 269px;
	line-height: 1.29em;
	border-radius: 30px;
	border: 1px solid rgba(1, 1, 1, 0.3);
	outline: none;
}

.filters-search-input::placeholder {
	color: #010101;
}

.filters-search-input:hover,
.filters-search-input:focus {
	border: 1px solid #6d8434;
	transition: all 300ms ease-in-out;
}

.filters-search-box {
	position: relative;
}

.filters-search-button {
	position: absolute;
	width: 50px;
	height: 100%;
	top: 0;
	left: 280px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: inherit;
}

@media screen and (max-width: 375px) {
	.filters-search-input {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.filters-search-input {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.filter-container {
		min-width: 768px;
	}

	.filters-search-button {
		left: 213px;
	}

	.filters-search-input {
		font-size: 18px;
		line-height: 1.33em;
	}
}

@media screen and (min-width: 1440px) {
	.filter-container {
		min-width: 1440px;
		padding: 0 100px;
	}
}
