<section class="cart-section">
	<div class="container cart-container">
		<a href="/cart.html" class="logo-block">
			<div class="icon-wrap">
				<svg width="18" height="18" class="icon icon-cart-mob">
					<use href="/icons.svg#icon-cart-mob"></use>
				</svg>
			</div>
			<p class="logo-text">Cart (<span class="js-cart-counter">0</span>)</p>
		</a>

		<div class="cart-empty-wrapper">
			<load src="./cart-content/cart-empty.html" />
		</div>
	</div>
	<div class="cart-content-wrap">
		<load src="./cart-content/cart-products-list.html" />
		<load src="./cart-content/cart-order.html" />
	</div>
</section>