<section class="cart-section">
	<div class="container">
		<a href="/cart.html" class="logo-block">
			<div class="icon-wrap">
				<svg width="18" height="18" class="icon icon-cart-desk">
					<use>href="/icons.svg#icon-cart-desk"</use>
				</svg>
			</div>
			<p class="logo-text">CART(<span class="js-cart">3</span>)</p>
		</a>

		<div class="cart-content-wrap">
			<load src="./cart-content/cart-products-list.html" />
			<load src="./cart-content/cart-order.html" />
		</div>
		<load src="./cart-content/cart-empty.html" />
	</div>
</section>
